:root {
 --main-background-color: #424c80;
 --nav-background-color: #5B84B1FF;
}

* {
    border: 1px solid black; /*Just to see the positioning of elements, will be removed*/
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}

html {
    width: 100%;
    height: 100%;
    background-color: var(--main-background-color);
    display: block;
    z-index: 0;
}

nav {
    display: flex;
    left: 5%;
    top: 0;
    position: fixed;
    height: 200px;
    width: 90% !important;
    background-color: var(--nav-background-color);
    border-radius: 10px;
    justify-content: center;
}

.nav-links{
    margin: auto;
    font-size: 75px;
    font-family: Tahoma;
    font-weight: bold;
}

.navigation-icons-bar {
    display: flex;
    left: 8.25%;
    position: fixed;
    margin-top: 140px;
    width: 83.5%;
    height: 50px;
    z-index: 1;
    
}

.nav-icons {
    position: relative;
}

#inventory-table {
    margin-top: 15rem;
    width: 500px;
    height: 20%;
    border: 5px solid black;
}
