#inventory-table {
    margin: 10rem 0 0 10rem;
    left: 20%; 
    width: 60%;
    height: 50%;
    border: 5px solid var(--table-white-color);
}

th, td {
    text-align: center;
    color: var(--table-white-color);
    border-bottom: 1px solid var(--table-white-color);
}

.button-delete-primary {
    display: block;
    width: 25% !important;
    position: relative;
    left: 73%;
}

#delete-button-primary {
    display: block;
    border: 1px solid black;

}