* {
    color: var(--table-white-color);
}

#full-inventory-table {
    margin-top: 10%;
    position: relative;
    right: -4.5%;
    z-index: -1;
}

#inventory-table {
    margin: 10rem auto;
    width: 85%;
    border: 5px solid;
    display: flex;
}

th, td {
    text-align: center;
    border-bottom: 1px solid;
    z-index: -5;
}

.div-moreedit-button-primary {
    display: block;
    width: 17.5% !important;
    position: absolute;
    left: -2%;
    margin-top: -22.5%;
}

#moreedit-button + #moreedit-button {
    display: block;
    margin-top: 17px;
}