.modal {
    width: 90%;
    background-color: var(--modal-color);
    border-radius: 20px;
}

.footer-modal   {
    background-color: var(--modal-color);
    width: 8%;
    
    width: 100%;
}

.close-modal {
    width: 10%;
    text-align: center;
    left: 88%;
}